.compact-editor .ProseMirror {
  line-height: 1;
}

.compact-editor .ProseMirror p {
  margin: 0.5em 0;
}

.compact-editor .ProseMirror h1,
.compact-editor .ProseMirror h2,
.compact-editor .ProseMirror h3,
.compact-editor .ProseMirror h4,
.compact-editor .ProseMirror h5,
.compact-editor .ProseMirror h6 {
  margin: 0.5em 0 0em;
  line-height: 1;
}

.compact-editor .ProseMirror ul,
.compact-editor .ProseMirror ol {
  margin: 0.5em 0;
  padding-left: 1.5em;
}

.compact-editor .ProseMirror li {
  margin: 0.2em 0;
}

.compact-editor .ProseMirror pre {
  margin: 0.7em 0;
}